:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    background: linear-gradient(#F692BF, #FCCDE2);
    color: black;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    align-items:center;
    justify-content:center;
    font-family: DM Sans;
    font-weight: 100;
}

.content{
    min-width: 400px;
    min-height: 500px;
    background: linear-gradient(#CB8AF3, #FE86FB);
    border-radius:25px;
    padding: 15px 30px 20px 30px;
    margin: 50px;
    display:flex;
    flex-flow: column nowrap;
}